*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-black: rgb(2, 2, 2);
  --clr-lgtest-gray: rgb(235, 235, 235);
  --clr-lgt-gray: rgb(236, 236, 236);
  --clr-gray: rgb(58, 58, 58);
  --clr-purple: #4d13d1;
  --clr-white: rgb(255, 255, 255);

  --ff-inter: "Inter", sans-serif;

  --radius: 8px;

  --box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --transition: 0.25s all ease;
}

/* // ======================== // */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-inter);
  font-weight: 300;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}

h1 {
  font-weight: 800;
}

li {
  list-style: none;
  transition: var(--transition);
}

li:hover,
a:hover,
.btn:hover {
  transform: scale(1.05);
}

li:focus,
a:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--clr-purple);
}
a {
  text-decoration: none;
  transition: var(--transition);
}

p {
  letter-spacing: -0.0027777778rem;
  line-height: 1.5;
  color: var(--clr-gray);
  font-size: clamp(1rem, 0.8804rem + 0.589vw, 1.2rem);
}

.section-center {
  width: min(90%, 1140px);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.btn {
  display: inline-flex;
  justify-content: center;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-white);
  background: var(--clr-purple);
  padding: 1em 1.2em;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(14, 15, 15, 0.829);
}

.btn--white {
  background: var(--clr-white);
}

.clr-black {
  color: var(--clr-black);
}

.clr-purple {
  color: var(--clr-purple);
}

.stylized-link {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--clr-purple);
}

/* HEADER */

.header {
  padding-top: 3em;
}

.mobile-nav-wrapper {
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  font-weight: 800;
  color: var(--clr-black);
}

.hamburguer {
  height: 100%;
  cursor: pointer;
  z-index: 100;
}

.svg--hamburguer img {
  height: auto;
}

/* NAVBAR */

.nav {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  text-align: left;
  background: var(--clr-lgtest-gray);
  padding: 100vw 100vh;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.nav__left-items,
.nav__right-items {
  gap: clamp(1rem, 0.7549rem + 1.0458vw, 1.5rem);
}

.nav__left-items {
  flex-direction: column;
}

.nav__right-items {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.nav__item a {
  font-size: 1.55rem;
  color: var(--clr-black);
}

.nav__right-items a {
  font-size: 1.125rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 3px 0px;
  width: 100%;
}

/* HERO */

.section--hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 1.2rem);
}

.section--hero__img-wrapper {
  display: flex;
  justify-content: center;
  height: auto;
  align-self: center;
}

.section--hero__img-wrapper img {
  width: 90%;
  height: auto;
}

.section--hero__info {
  height: 100%;
  flex-direction: column;
  margin-top: 0.25em;
}

.section--hero__info h1 {
  font-weight: 800;
  font-size: clamp(2rem, 4vw, 3rem);
  margin: 0.25em 0;
}

.rating {
  display: none;
}

.section--hero__links {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.section--hero__links a + a {
  margin-top: 0.75em;
}

.checks {
  gap: 0.75em;
}

.svg--check {
  margin-right: 0.5em;
}

/*  */
.show-menu {
  display: block;
}

/* WHY FIBER */

.section--why-fiber {
  margin: 5em auto 2em auto;
}

.section--why-fiber p {
  font-weight: 700;
  color: var(--clr-purple);
  margin-bottom: 0.75em;
}

.section--why-fiber h3 {
  font-weight: 700;
  font-size: clamp(2rem, 1.5098rem + 2.0915vw, 3rem);
}

/* CARDS */

.section--cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: clamp(2em, 8%, 4em);
  margin-bottom: 4em;
}

.svg--card {
  width: 2.25rem;
  height: auto;
}

.card h4 {
  margin: 0.5em 0;
}

/* FREE TRIAL */

.section--free-trial {
  flex-direction: column;
  padding: 3em 2em 0 2em;
  margin: 4em auto;
  background: var(--clr-purple);
  border-radius: var(--radius);
}

.section--free-trial h2,
.section--free-trial p {
  color: var(--clr-white);
}

.section--free-trial__info {
  align-self: center;
}

.section--free-trial h2 {
  font-size: clamp(1.8rem, 1.702rem + 0.4183vw, 2rem);
  margin-bottom: 0.5em;
}

.section--free-trial a {
  margin: 1em 0 3em 0;
}

.section--free-trial__info p {
  font-size: clamp(1.1rem, 1.35vw, 1.8rem);
}

.section--free-trial img {
  height: max(20rem, 25rem);
  object-fit: cover;
  border-radius: var(--radius);
}

/* TESTIMONIALS */

.section--testimonials {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: clamp(2em, 8%, 4em);
  margin-bottom: 6em;
}

.testimonial {
  padding: 1.125em;
  border: 1px var(--clr-lgt-gray) solid;
  border-radius: var(--radius);
  transition: var(--transition);
}

.testimonial:hover {
  transform: scale(1.03);
  box-shadow: var(--box-shadow);
}

.testimonial h5 {
  color: var(--clr-purple);
}

.testimonial__person-info {
  align-items: center;
  margin-bottom: 0.4em;
}

.svg--avatar {
  height: 2.5em;
  margin-right: 0.75em;
}

.testimonial__person-info p {
  font-weight: 500;
  font-size: 0.85rem;
}

.testimonial__feedback p {
  font-size: clamp(0.8rem, 0.702rem + 0.4183vw, 1rem);
  color: var(--clr-black);
}

.testimonial a {
  width: 100%;
  font-weight: 700;
  border: 1px var(--clr-lgt-gray) solid;
  border-radius: var(--radius);
  margin-top: 0.6em;
}

/* FOOTER */

.footer {
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 3em;
  padding: 3em 0;
}

.footer h6 {
  font-weight: 700;
  font-size: clamp(1.2rem, 1.1387rem + 0.2614vw, 1.325rem);
  margin-bottom: 1em;
}

/* FIBER H6 */
.footer__fiber.footer__fiber {
  margin-bottom: 0.35em;
}

.footer__item p,
.footer__item a {
  font-weight: 500;
}

.footer__item p + p {
  margin-top: 0.3em;
}

.footer__item li + li {
  margin-top: 0.6em;
}

.footer__item a,
.footer__item p {
  font-size: clamp(0.8rem, 0.6529rem + 0.6275vw, 1.1rem);
  color: var(--clr-gray);
}

@media screen and (min-width: 600px) {
  .checks {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .checks__item.checks__item {
    flex-grow: 1;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .section--hero {
    margin-top: 5em;
    flex-direction: row-reverse;
    min-height: auto;
  }

  .section--hero__img-wrapper {
    width: 50%;
  }

  .section--hero__img-wrapper img {
    width: 100%;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .rating__text {
    font-weight: 700;
  }

  .section--hero__info {
    width: 50%;
    align-self: center;
    margin: 0;
  }

  .section--hero__links {
    flex-direction: row;
    gap: 2em;
  }

  .section--hero__links a {
    margin: 0;
  }

  .section--why-fiber p {
    margin-bottom: 0;
  }

  .section--free-trial {
    flex-direction: row;
    gap: 3em;
  }

  .section--free-trial > * {
    width: 50%;
  }

  .section--free-trial a {
    width: 10rem;
  }
}

@media screen and (min-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-nav-wrapper {
    flex-grow: 1;
  }

  .nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    box-shadow: none;
    flex-direction: row;
    inset: initial;
    transform: initial;
    position: initial;
    padding: 0;
  }

  .nav__left-items {
    flex-direction: row;
  }

  .nav__right-items.btn,
  .nav__item.nav__item {
    margin: 0;
  }

  .nav__right-items {
    flex-direction: row;
    margin: 0;
  }

  .hamburguer {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  /* change first foot's item width */
  .footer .footer__item:nth-child(1) {
    width: 30%;
    margin-right: auto;
  }
}
